<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>LIFX material</title>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="assets/styles.css">
    </head>
    <body>
        <div ng-controller="AppCtrl" ng-cloak="" ng-app="Ptimer" class="layout-fill ng-scope layout-column">
            <div class="pt-fullwrapper pt-{{game.state}}">
                <md-toolbar class="pt-toolbar">
                    <div class="md-toolbar-tools" layout="row" layout-align="end start">
                        <md-button ng-model="mlPlay" ng-click="toggleTimer()" class="md-icon-button" aria-label="Play/Pause">
                            <i class="material-icons">{{timer.on === true ? '&#xE034;' : '&#xE037;'}}</i>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="More">
                            <i class="material-icons">&#xE5D4;</i>
                        </md-button>
                    </div>
                </md-toolbar>

                <h1><small>PROTO</small>PTIMER</h1>
                <div class="pt-timer">
                    <timer autostart="false" countdown="game.playTime" interval="1000"><span class="pt-minutes">{{mminutes}}</span><span class="pt-time-sep">:</span><span class="pt-seconds">{{sseconds}}</span></timer>
                </div>
                <div class="pt-blind-wrapper">
                    <span>{{game.smallBlind}}</span> <span class="pt-blind-sep">blinds</span> <span>{{game.bigBlind}}</span>
                    <div class="pt-gamestate" ng-if="timer.state !== 'play'">{{timer.state}}</div>
                </div>
                <p class="pt-debug">
                    game: {{game}},
                    <br/>
                    timer: {{timer}}
                    <br/>
                </p>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/humanize-duration/3.10.0/humanize-duration.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
        <script src="assets/angular-timer.min.js"></script>
        <script src="assets/hsvToRgb.js"></script>
        <script src="src/app.js"></script>
    </body>
</html>
