<div class="pt-fullwrapper">
    <div class="pt-stars-bg">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
    </div>
    <mat-toolbar class="transparent layout-column">
        <span class="spacer"></span>

        <button mat-icon-button [matMenuTriggerFor]="menu" class="btn-white" aria-label="More">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <a href="/pokertimer" mat-menu-item>
                <mat-icon>play_arrow</mat-icon>
                <span>Play</span>
            </a>
            <a href="/settings" mat-menu-item>
                <mat-icon>settings</mat-icon>
                <span>Settings</span>
            </a>
        </mat-menu>

    </mat-toolbar>


    <div class="pt-pagewrapper">

        <a href="/pokertimer">
            <svg id="play" xmlns="http://www.w3.org/2000/svg" height="100" width="100">
                <path class="stroke-solid" fill="none" stroke="#fff"
                      d="M49.9 2.5C23.6 2.8 2.1 24.4 2.5 50.4 2.9 76.5 24.7 98 50.3 97.5c26.4-.6 47.4-21.8 47.2-47.7-.2-26.1-21.8-47.5-47.6-47.3"/>
                <path class="stroke-dotted" fill="none" stroke="#fff"
                      d="M49.9 2.5C23.6 2.8 2.1 24.4 2.5 50.4 2.9 76.5 24.7 98 50.3 97.5c26.4-.6 47.4-21.8 47.2-47.7-.2-26.1-21.8-47.5-47.6-47.3"/>
                <path class="icon" fill="#fff"
                      d="M38 69c-1 .5-1.8 0-1.8-1.1V32.1c0-1.1.8-1.6 1.8-1.1l34 18c1 .5 1 1.4 0 1.9L38 69z"/>
            </svg>
        </a>

        <h1><span><small>POKER</small>FLUX</span></h1>

        <mat-accordion>
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h3>About</h3>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Pokerflux is a Poker timer which changes your LIFX lights on every play state (Play, Blind increase,
                    Pause).</p>
                <p>You can select a Color or a predefined LIFX scene for each play state.</p>
                <p>Pokerflux is free open source: <a href="https://github.com/pascalmoser/ng-pokerflux"
                                                     target="_blank">Github Repo</a>.</p>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h3>How to Play</h3>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <h4>Settings</h4>
                <ol>
                    <li>Open Settings</li>
                    <li>Insert your LIFX API Key</li>
                    <li>(Optional) Select Bulbs, Colors and Scenes for each play state.</li>
                    <li>(Optional) Edit Play times and Blind increasement.</li>
                </ol>
                <h4>Play</h4>
                <ol>
                    <li>Open Pokertimer</li>
                    <li>Start game by clicking the play button.</li>
                    <li>With pause game or skip pause by clicking again the play/pause button.</li>
                </ol>

            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h3>Disclaimer</h3>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                    This website uses Google Analytics, a web analytics service provided by Google, Inc. ("Google").
                    Google Analytics uses "cookies", which are text files placed on your computer to help the website
                    analyse how visitors use the site. The information generated by the cookie about your use of the
                    website (including your IP address) will be transmitted to and stored by Google on servers in the
                    United States . Google will use this information for the purpose of evaluating your use of the
                    website, compiling reports on website activity for website operators and providing other services
                    relating to website activity and internet usage. Google may also transfer this information to third
                    parties where required to do so by law, or where such third parties process the information on
                    Google's behalf. Google will not associate your IP address with any other data held by Google. You
                    may refuse the use of cookies by selecting the appropriate settings on your browser, however please
                    note that if you do this you may not be able to use the full functionality of this website. By using
                    this website, you consent to the processing of data about you by Google in the manner and for the
                    purposes set out above.
                </p>
                <p>
                    You can prevent Google’s collection and use of data (cookies and IP address) by downloading and
                    installing the browser plug-in available under https://tools.google.com/dlpage/gaoptout?hl=en.
                </p>
                <p>
                    Please note that this website initializes Google Analytics with the setting </p>
                <pre>anonymizeIp</pre>
                This guarantees anonymized data collection by masking the last part of your IP address.
                <p></p>
                <p>
                    Further information concerning the terms and conditions of use and data privacy can be found at
                    http://www.google.com/analytics/terms/gb.html or at
                    http://www.google.com/intl/en_uk/analytics/privacyoverview.html
                </p>
            </mat-expansion-panel>
        </mat-accordion>

    </div>
</div>