@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
        $font-family: 'Lato, sans-serif',
        $headline: mat-typography-level(32px, 48px, 700),
        $body-1: mat-typography-level(16px, 24px, 500)
);

@media all{

    h1, h2, h3, h4 {
        font-weight: 600;
        padding: 5px 0;
    }

    body, .mat-drawer, .mat-drawer-container {
        color: #fff;
        font-family: 'Lato', sans-serif;
    }

    p {
        margin-bottom: 1em;
    }

    ul, ol {
        ul, ol {
            padding-left: 1em;
        }
        li {
            list-style-position: inside;
        }
    }

    ol li {
        list-style-type: decimal-leading-zero;
    }

    ul li {
        list-style-type: circle;
    }


    mat-label {
        .mat-h4, p {
            margin-bottom: .5em;
        }
    }

    .spacer {
        flex: 1 1 auto;
    }

    .hidden {
        display: none;
    }

    .pt-fullwrapper {
        position: relative;
        height: 100%;
        width: 100%;
        min-height: 100vh;
    }

    .transparent {
        background: transparent;
    }

    .btn-white {
        &, mat-icon {
            color: white;
        }
    }

    .mat-full-width {
        width: 100%;
    }

    .mat-radio-group {
        display: inline-flex;
        flex-direction: column;
    }

    .pt-pagewrapper {
        position: relative;
        width: 800px;
        max-width: 100%;
        margin: 0 auto;
        padding: 0 15px;

        h1 {
            margin-bottom: 15px;
        }
    }

    .pt-fullwrapper {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8341d6+0,5614ac+100 */
        background: #5614ac; /* Old browsers */
        background: -moz-linear-gradient(top, #8341d6 0%, #5614ac 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #8341d6 0%,#5614ac 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #8341d6 0%,#5614ac 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8341d6', endColorstr='#5614ac',GradientType=0 ); /* IE6-9 */

    }

    .pt-fullwrapper.pt-play {
        background: #025F1A; /* Old browsers */
        background: -moz-linear-gradient(top, #21A344 0%, #025F1A 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #21A344 0%,#025F1A 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #21A344 0%,#025F1A 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21A344', endColorstr='#025F1A',GradientType=0 ); /* IE6-9 */
    }

    .pt-fullwrapper.pt-timeout {
        background: #BF0012; /* Old browsers */
        background: -moz-linear-gradient(top, #ff0018 0%, #BF0012 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #ff0018 0%,#BF0012 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #ff0018 0%,#BF0012 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0018', endColorstr='#BF0012',GradientType=0 ); /* IE6-9 */
    }

    .pt-fullwrapper.pt-settings {
        background: #8c8c8c; /* Old browsers */
        background: -moz-linear-gradient(top, #8c8c8c 0%, #545454 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #8c8c8c 0%,#545454 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #8c8c8c 0%,#545454 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c8c8c', endColorstr='#545454',GradientType=0 ); /* IE6-9 */
    }

    h1 {
        font-size: 3vw;
        font-weight: 900;
        text-align: center;
        margin: 0;
    }

    h1 small {
        font-size: 3vw;
        font-weight: 300;
    }

}
